<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="nl.nnworks.nnembedded.project.nature.NaturePropertyTester"
            id="NNEmbeddedPlugin.isNNEmbeddedNatureApplicable"
            namespace="nl.nnworks.nnembedded.project.nature"
            properties="canAddNNEmbeddedNature, hasNNEmbeddedNature"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension 
         id="nnembeddednature"
         name="NNWorks Embedded Nature"
         point="org.eclipse.core.resources.natures">
         
      <runtime>
         <run class="nl.nnworks.nnembedded.project.nature.NNEmbeddedProjectNature" />
      </runtime>
      

   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="nl.nnworks.nnembedded.project.nature.ConvertCommand"
            id="nl.nnworks.nnembedded.nature.addnature"
            name="AddNature">
      </command>
      <command
            defaultHandler="nl.nnworks.nnembedded.project.nature.ConvertCommand"
            id="nl.nnworks.nnembedded.nature.removenature"
            name="RemoveNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="nl.nnworks.nnembedded.nature.addnature"
               label="Add NNEmbedded nature"
               style="push"
               tooltip="tooltip">
            <visibleWhen>
               <!-- forcePluginActivation needed because else the property tester is not initialized -->
               <test
                     forcePluginActivation="true"
                     property="nl.nnworks.nnembedded.project.nature.canAddNNEmbeddedNature"
                     value="false">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="nl.nnworks.nnembedded.nature.removenature"
               label="Remove NNEmbedded nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="nl.nnworks.nnembedded.project.nature.canRemoveNNEmbeddedNature">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
</plugin>
