<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension 
         id="nnembeddednature"
         name="NNWorks Embedded Nature"
         point="org.eclipse.core.resources.natures">
         
      <runtime>
         <run class="nl.nnworks.nnembedded.project.nature.NNEmbeddedProjectNature" />
      </runtime>
      
      <requires-nature id="org.eclipse.cdt.core.ccnature" />

   </extension>
   <extension
         id="nl.nnworks.nnembedded.nature.convertcommand"
         name="Convert to NNEmbedded project"
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nl.nnworks.nnembedded.project.nature.ConvertCommand"
            commandId="nl.nnworks.nnembedded.nature.convertcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="nl.nnworks.nnembedded.nature.convertcommand"
               label="Convert to NNEmbedded Project"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
