<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="nl.nnworks.nnembedded.plugin.PluginPropertyTester"
            id="NNEmbeddedPlugin.isNNEmbeddedNatureApplicable"
            namespace="nl.nnworks.nnembedded.plugin"
            properties="canAddNNEmbeddedNature, hasNNEmbeddedNature, isApplicablePropertyResource"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension 
         id="nl.nnworks.nnembedded.plugin.nature.nnembeddedprojectnature"
         name="NNWorks Embedded Nature"
         point="org.eclipse.core.resources.natures">
         
      <runtime>
         <run class="nl.nnworks.nnembedded.plugin.nature.NNEmbeddedProjectNature" />
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="nl.nnworks.nnembedded.plugin.nature.NatureCommandHandler"
            id="nl.nnworks.nnembedded.plugin.nature.addnature"
            name="AddNature">
      </command>
      <command
            defaultHandler="nl.nnworks.nnembedded.plugin.nature.NatureCommandHandler"
            id="nl.nnworks.nnembedded.plugin.nature.removenature"
            name="RemoveNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="nl.nnworks.nnembedded.plugin.nature.addnature"
               label="Add NNEmbedded nature"
               style="push"
               tooltip="Add NNEmdedded nature to project">
            <visibleWhen>
               <!-- forcePluginActivation needed because else the property tester is not initialized -->
               <test
                     forcePluginActivation="true"
                     property="nl.nnworks.nnembedded.plugin.canAddNNEmbeddedNature">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="nl.nnworks.nnembedded.plugin.nature.removenature"
               label="Remove NNEmbedded nature"
               style="push"
               tooltip="Remove NNEmbedded nature from project">
            <visibleWhen>
	           <!-- forcePluginActivation needed because else the property tester is not initialized -->
	           <test
                  forcePluginActivation="true"
                  property="nl.nnworks.nnembedded.plugin.hasNNEmbeddedNature">
              </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="mainprojectpropertypage"
         point="org.eclipse.ui.propertyPages">
      <page
            class="nl.nnworks.nnembedded.plugin.config.ui.PluginPropertiesPage"
            id="nl.nnworks.nnembedded.plugin.pluginpropertiespage"
            name="NNEmbedded Properties">
		<enabledWhen>
	       <and>
	          <test
	                args="nl.nnworks.nnembedded.plugin.pluginpropertiespage"
	                forcePluginActivation="true"
	                property="nl.nnworks.nnembedded.plugin.isApplicablePropertyResource">
              </test>
	          <and>
	             <test
	                   forcePluginActivation="true"
	                   property="nl.nnworks.nnembedded.plugin.hasNNEmbeddedNature">
	             </test>
	          </and>
	       </and>
		</enabledWhen>
      </page>
   </extension>
</plugin>
